# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Terraform / Opentofu plugins and locks
infra/.terraform

# Terraform / OpenTofu state files (contain secrets!)
infra/*.tfstate*
